* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    display: flex;
}

.top {
    width: 800px;
    height: 80px;
    display: flex;
}

.top .nav {
    background-color: yellow;
    display: flex;
    align-items: center;
    font-size: 15px;
    gap: 10px; 
}

.top .menu {
    background-color: red;
    display: flex;
    align-items: center;
    font-size: 15px;
    gap: 20px;
}

.top .menu ul li {
    margin-right: 50px;
}

.top .menu button {
    width: 100px;
    height: 50px;
    color: #fff;
    background-color: #444;
    border: none;
    border-radius: 50px;
}

/* mid */

.mid {
    width: 800px;
    background-color: aqua;
    display: flex;
    margin-top: 60px;
}

.mid .text {}
.mid .text h3 {
    font-size: 20px;
    margin-bottom: 30px;
}

.mid .text h1 {
    font-size: 35px;
    margin-bottom: 60px;
    
}

.mid .text p {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 30px;
}

.mid .text .mbt {

}

.mid .main {}

.mid .main img {
    width: 400px;
}




